
/*
CSS: element, id, class
selector{
    property:value;
}
*/
body{ 
    background-color: brown;
    font-family: Lucida Calligraphy;
    color: Black;
    font-size: 24px;
}
h1{
    text-decoration: none;
    text-align: left;
    font-family: Lucida Calligraphy;
}
#header{
    text-align:center;
}
#banner{
  width:100%;
  height: 150px;
  background-color:#f0463a;
  text-align: center;
  font-size:40px;
  padding-top: 60px;
}
footer{
    padding-top: 400px;
}



