
/*
CSS: element, id, class
selector{
    property:value;
}
*/
body{ 
    background-color: #ffffff;
    font-family: Lucida Sans Unicode;
    color: Black;
    font-size: 24px;
}
h1{
    text-decoration: none;
}
#header{
    text-align:center;
}
#banner{
  width:100%;
  height: 200px;
  background-color:#f0463a;
}

