
/*
CSS: element, id, class
selector{
    property:value;
}
*/
body{ 
    background-color: Lightgreen;
    font-family: Lucida Sans Unicode;
    color: Black;
    font-size: 24px;
}
h1{
    text-decoration:underline;
}
#header{
    text-align:center;
}


